
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "questConstructor";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background-color: #2D3238!important;
}

.icons {
  padding-right: 5px;
}

.nav-link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #BDBEBF;
  font-size: 17px;
  line-height: 23px;
}

.user {
  font-size: 13px!important;
}

.custom-dropdown {
  background-color: transparent;
  border: none;
  padding-top: 0px;
}

.custom-dropdown-item {
  color: #fff;
  margin-top: 5px;
  background-color: #212428;
}