.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    background-color: #2D3238!important;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.card {
    padding: 30px;
    background-color: #42464D;
}

.form-group {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.form-group input {
    width: 350px;
    height: 25px;
    padding-left: 30px;
    border: 1px solid transparent;
    border-radius: 50px;
}

.form-group input:focus {
    outline: none;
}

.form-group i {
    position: absolute;
    padding-left: 10px;
}

.form-group .checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.form-group label {
    color: #fff;
}

.invalid-feedback {
    padding-top: 10px;
    padding-bottom: 2px;
    color: red;
    display: block;
}

.btn {
    border: 1px solid transparent;
    border-radius: 10px;
    height: 25px;
}

.btn-primary {
    background-color: #37B3EF;
    color: white;
    margin-top: 10px;
}

.btn-link {
    color: #fff;
    text-decoration: none;
}


@media all and (max-width: 450px) {
    .form-group input {
        max-width: 290px;
    }

}