.main-constructor {
    background-color: #42464D;
}
.container {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-width: 1200px;
}

.constructor {
    height: 660px;
    overflow: scroll;
}

#constructor {
    background-color: #3B444B;
}

.text {
    color: #fff;
    font-family: sans-serif;
    line-height: 23px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    overflow: auto;
    -webkit-user-select: none;
    padding: 0px 5px 0px 5px;
    word-wrap: break-word;
}

.active-answer-button {
    stroke: red;
}

.link {
    fill:none;
    stroke-width: 2;
    stroke: #000000;
}

.link-active {
    stroke: orange!important;
}

.buttons {
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    height: 20px;
    background-color: green;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
}

.btn-quest {
    border-radius: 0;
}

.btn-green {
    background-color: #00A86B!important;
}

/* Popup menu */
.container-node {
    display: flex;
    justify-content: center;
}

.node {
    position: absolute;
    padding: 5px;
    background-color: #2D3238;
}

.node span {
    color: #fff;
}

.form-group {
    padding: 10px 0px 10px 0px!important;
}

.cursor {
    cursor: pointer;
}

.span-close-window {
    float: right;
}

@media all and (max-width: 768px) {
    .constructor {
        height: 550px;
    }
}

@media all and (max-width: 480px) {
    .buttons {
        flex-direction: column;
    }
}